@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.container{
  padding-bottom: 10vw;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.awan{
  /* border: 1px solid black; */
  width: 25vw;
  height: 13vw;
  top: 8vw;
  left: 75vw;
  position: absolute;
}
.awan2{
  width: 50vw;
  height: 30vw;
  top: -10vw;
  left: -10vw;
  position: absolute;
}
.container section{
  /* border: 1px solid black; */
  width: 80vw;
  margin: 7vw auto;
}
.container section details summary{
  padding: 1.6vw;
  /* border: 1px solid black; */
  border-bottom: 1px solid #A17070;
  background:#FFFfff;
  border-radius: 1vw;
  position: relative;
  list-style: none;
  outline: none;
  cursor: pointer;

  font-family: 'Redshift-Bold',sans-serif;
  font-size: 1.6vw;
  font-weight: bold;
  line-height: 2vw;
  text-align: left;

}
.container section details{
  margin: 1.3vw;
  /* border: 1px solid black; */
  border-radius: 1vw;
  border: 1px solid #A17070
}
.container section details p{
  font-family: 'Redshift-Book',sans-serif;
  font-size: 1.3vw;
  font-weight: 400;
  line-height: 2vw;
  text-align: left;
  
  padding: 10px;
  color: #333;

  background:#FFF9F9;
}
.container section details summary span{
  float: right;
}
.carret{
  color: #E74058;
}
.faq{
font-family: 'Redshift-Bold',sans-serif;
font-size: 3vw;
font-weight: bold;
line-height: 3vw;
text-align: left;
color:#E83166;
}
.question{
  font-family: 'Redshift-Book',sans-serif;
  font-size: 2vw;
  font-weight: 400;
  line-height: 2vw;
  text-align: left;
  color: #363636;
}
.header_text{
  width: 20vw;
  /* border: 1px solid black; */
  height: 10vw;
  top: 15vw;
  transform: translate(-50%, -50%);
  left: 50vw;
  position: absolute;
}
.faq_header{
font-family: 'Redshift-Bold',sans-serif;
  font-size: 5vw;
  font-weight: bold;
  line-height: 5vw;
  text-align: center;
  color:#E83166;
}
.question_header{
  font-family: 'Redshift-Book',sans-serif;
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 1vw;
  text-align: center;
  color:#E83166;
}
.title{
  margin-left: 1vw;
  /* border: 1px solid black; */
}
.image{
  width: 100%;
}
.image_product{
  width: 20vw;
  height: 25vw;
  top: 13vw;
  left: 15vw;
  position: absolute;
}
@media (max-width: 768px) {
  .image_product{
    width: 45vw;
    height: 50vw;
    top: 27vw;
    left: 7vw;
    gap: 0px;
    opacity: 0px;
    position: absolute;

  }
  .header_text{
    width: 20vw;
    height: 10vh;
    top: 45vw;
    left: 70vw;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .faq_header{
    font-family: 'Redshift-Bold',sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 17.6px;
    text-align: left;
  }
  .question_header{
    font-family: Redshift-Book;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
  }
  .faq{
    font-size: 13px;
    line-height: 14.3px;
  }
  .question{
    font-size: 10px;
    line-height: 13.6px;
  }
.container section details summary{
  font-size: 10px;
  line-height: 11px;
}
.container section details p{
font-size: 8px;
line-height: 10.64px;
}
.container{
  padding-bottom: 50px;
  min-height: 10vh;
}
.awan{
  display: none;
}
.awan2{
  display: none;
}
}