.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.awan{
  display: flex;
  /* gap: 70px; */
  /* display: inline; */
  height: 540px;
  /* top: 804px; */
  margin-top: -490px;
  position: absolute;
  border: 1px solid black;
}
.awankiri{
  /* border: 1px solid black; */
  /* background-color: black; */
  margin-top: 110px;
  /* opacity: 1000%; */
  width: 942px;
  height: 433px;

}.awankanan{
  /* border: 1px solid black; */
  /* background-color: black; */
  margin-top: 100px;
  width: 942px;
  height: 433px;

}
.picture {
  top: 844px;
  left: 615px;
  width: 100%;
  /* position: absolute; */
}
.containerS2{
  display: flex;
}
.container{
width: 40%;
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
}
.container2{
  width: 60%;
  }
.textcontainer2{
  width: 259px;
  height: 105.36px;
  top: 1109px;
  left: 135px;
  gap: 0px;
  border-radius: 18px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  /* border: 1px solid black; */

}

.rectangle {
  margin-top: 10%;
  width: 259px;
  height: 105.36px;
  gap: 0px;
  border-radius: 18px;
  border-style: dashed;
  border-width: 1px 1px 1px 1px;
  border-color: #E74058;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1; 
}
.textValue{
  width: 211.3px;
  height: 61.58px;
  gap: 0px;
  opacity: 0px;
}
.textValue p{
  font-family: 'Redshift-BookOblique', sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 19.04px;
  text-align: center;
}
.text {
  font-family: 'Redshift-Bold', sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 39.6px;
  text-align: left;
  color: #363636;
  ;
  
}
.span {
  font-family: 'Redshift-Bold', sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 39.6px;
  text-align: left;
  color: #E74058; 
}
.containerText{
  height: 40px;
  top: 1522px;
  margin-left: 10%;
  gap: 0px;
  opacity: 0px;
}
.containerText .span{
  font-family: 'Redshift-Bold', sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 39.6px;
  text-align: left;
  color: #363636;
}
.containerText .span .know{
  font-family: 'Redshift-Bold', sans-serif;
font-size: 36px;
font-weight: 400;
line-height: 39.6px;
text-align: left;
color: #E74058;
}
.containerText .span .descript{
  font-family: 'Redshift-Book',sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32.64px;
  text-align: left;
}
.youtube{
  margin-top: 10%;
  background-color: #FFF9F9;
}
.video{
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 5%;
  /* width: 1010px; */
  /* height: 387px; */
  /* top: 1609px; */
  /* left: 135px; */
  /* gap: 0px; */
  /* opacity: 0px; */
  /* position: absolute; */
}
.badfactor{
  gap: 0px;
  opacity: 0px;
}
.badfactor img{
  width: 100%;
}
/* styles.module.css */

.pudar {
  width: 100%;
  height: 569px;
  position: relative;
    display: inline-block;
}

.pudarGambar {
  display: block;
  width: 100%;
  height: auto;
  z-index: 9999;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 80%);
}
.ImageBotolPudar{
  width: 277.23px;
  height: 279.91px;
  top: 256px;
  left: 497.59px;
  gap: 0px;
  opacity: 19%;
position: absolute;  
}
.footer{
  width: 100%;
  height: 540px;
  top: 3850px;
  gap: 0px;
  /* border: 1px solid black; */
  opacity: 0px;
  /* position: relative; */
  background-image: url('/image/Footer.png');
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover;
}
.dflex{
  width: 25%;
  height: 100%;
  display: flex;
  /* border: 1px solid black; */
  align-items: center;
  margin-left: 120px;
}
.contentFooter{
  /* border:1px solid black; */
  display: flex;
  width: 100%;
  height: 90%;
}
.containerForm{
  width: 394px;
  /* height: 328px; */
  margin-left: 100%;
  gap: 0px;
  padding: 30px;
  opacity: 87%;  
  border-radius: 21px 21px 21px 21px ;
  background-color: #f0d9d9;
}
.form{
  
  text-align: center;
}
.containerForm p{
  font-family: 'Redshift-Bold', sans-serif;
  top: 30px;
  font-size: 24px;
  font-weight: bold;
  line-height: 32.64px;
  text-align: left;
  color: #C83244;
}
.input{
  width: 340.09px;
  height: 43px;
  gap: 0px;
  border-radius: 6px 6px 6px 6px;
  opacity: 0px;
  border: none;
}
.message{
  margin-top: 20px;
  width: 340.09px;
  height: 100px;
  gap: 0px;
  border-radius: 6px 6px 6px 6px;
  opacity: 0px;
  border: none;

}
.button{
  border: none;
  width: 340.09px;
  height: 43px;
  top: 3800px;
  left: 777.95px;
  gap: 0px;
  border-radius: 6px 6px 6px 6px;
  opacity: 0px;
  background-color: #C83244;
}
.textFooter{
  font-family: 'Redshift-Book',sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.76px;
  text-align: center;
  color: #C83244;
  z-index: 9999;

}
.fadeOver {
  position: absolute;
  margin-top: -520px;
  width: 100%;
  height: 540px; 
  z-index: 9999;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, #e87c88 100%);
  pointer-events: none;
}
.cloud{
width: 314px;
height: 391px;
top: 582px;
left: 1060px;
z-index: 1;
gap: 0px;
position: absolute;
opacity: 0px;
}
.containerText2{
  /* width: 110.44px; */
  margin-top: 10%;
  margin-left: 10%;
  /* border: 1px solid black; */
}
.footer_ul{
  list-style-type: none;
  padding: 0; 
  margin: 0;
  
}
.footer_li{
  list-style: none;
}
.footer_li a{
  font-family: 'Redshift-Bold', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 21.76px;
  text-align: left;
  text-decoration: none;
  color: #C83244;
}
.social_media{
  width: 110.44px;
  margin-top: 120px;
  height: 28.87px;
  display: flex;
  padding: 0px;
  gap: 20px;
  opacity: 0px;
  
}
.garisFooter{
  width: 188px;
  height: 0px;
  border:1px solid #C83244;
}
.learnMore{
  width: 169px;
  z-index: 999;
height: 41px;
top: 132px;
background:none;
left: 555px;
gap: 0px;
position: absolute;
border-radius: 7px;
border: 1px solid #FF6986;
color:#E83166;
opacity: 0px;

}
/* .awankanan{
  position: absolute;
}
.awankiri{
  position: absolute;
} */
.awannya_caraousel{
  width: 847px;
  height: 389px;
  top: 389px;
  left: -537px;
  gap: 0px;
  opacity: 0px;
  /* angle: -180 deg;   */
  /* border: 1px solid black; */
  position: absolute;
}
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
