.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.awan{
  display: flex;
  height: 540px;
  z-index: 999;
  width: 100%;
  margin-top: -482px;
  position: absolute;
  /* border: 1px solid black; */
}
.awankiri{
  top: 7.8vw ;
  left: -25vw;
  width: 942px;
  height: 433px;
  z-index: 1;
  position: inherit;

  }.awankanan {
    right: 0; /* Menempatkan elemen di tepi kanan layar */
    bottom: 0; /* Menempatkan elemen di tepi bawah layar */
    position: inherit; /* Posisi elemen tetap relatif terhadap viewport */
    width: 542px; /* Lebar tetap dalam piksel */
    height: 433px; /* Tinggi tetap dalam piksel */
}

.picture {
  width: 100%;
}
.containerS2{
  display: flex;
}
.container{
width: 40%;
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
}
.container2{
  width: 60%;
}
.textcontainer2{
  width: 259px;
  height: 105.36px;
  top: 1109px;
  left: 135px;
  gap: 0px;
  border-radius: 18px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;

}

.rectangle {
  margin-top: 10%;
  width: 259px;
  height: 105.36px;
  gap: 0px;
  border-radius: 18px;
  border-style: dashed;
  border-width: 1px 1px 1px 1px;
  border-color: #E74058;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1; 
}
.textValue{
  width: 211.3px;
  height: 61.58px;
  gap: 0px;
  opacity: 0px;
}
.textValue p{
  font-family: 'Redshift-BookOblique', sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 19.04px;
  text-align: center;
}
.text {
  font-family: 'Redshift-Bold', sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 39.6px;
  text-align: left;
  color: #363636;
  
}
.span {
  font-family: 'Redshift-Bold', sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 39.6px;
  text-align: left;
  color: #E74058; 
}
.containerText{
  height: 40px;
  top: 1522px;
  margin-left: 10%;
  gap: 0px;
  opacity: 0px;
}
.containerText .span{
  font-family: 'Redshift-Bold', sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 39.6px;
  text-align: left;
  color: #363636;
}
.containerText .span .know{
  font-family: 'Redshift-Bold', sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 39.6px;
  text-align: left;
  color: #E74058;
}
.containerText .descript{
  font-family: 'Redshift-Book',sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32.64px;
  text-align: left;
  color: var(--Dark_Grey, #363636);
}
.youtube{
  padding-top: 10%;
  background-color: #FFF9F9;
}
.YoutubeThumb{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 387px;
  border-radius:30px;
  cursor: pointer;
}
.YoutubeVideo{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 387px;
  border-radius:30px;
  cursor: pointer;
}
.video{
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 5%;
  /* width: 1010px; */
  /* height: 387px; */
  /* top: 1609px; */
  /* left: 135px; */
  /* gap: 0px; */
  /* opacity: 0px; */
  /* position: absolute; */
}
.badfactor{
  gap: 0px;
  opacity: 0px;
}
.badfactor img{
  width: 100%;
}
/* styles.module.css */

.pudar {
  width: 100%;
  height: 569px;
  position: relative;
  display: inline-block;
}

.pudarGambar {
  display: block;
  width: 100%;
  height: auto;
  z-index: 9999;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 80%);
}
.ImageBotolPudar{
  width: 480.94;
  height: 300;
  top: 70%;
  transform: translate(-50%, -50%);
  left: 50%;
  gap: 0px;
  opacity: 30%;
  position: absolute;  
}
.footer{
  width: 100%;
  height: 540px;
  background-image: url('/image/Footer.png');
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover;
}
.dflex{
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 120px;
}
.contentFooter{
  /* border:1px solid black; */
  display: flex;
  width: 100%;
  height: 90%;
}
.containerForm{
  width: 394px;
  /* height: 328px; */
  margin-left: 100%;
  gap: 0px;
  padding: 30px;
  opacity: 87%;  
  border-radius: 21px;
  background-color: #f0d9d9;
  z-index: 9999;
}
.form{
  text-align: center;
}
.containerForm p{
  font-family: 'Redshift-Bold', sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 32.64px;
  text-align: left;
  color: #C83244;
}
.input{
  width: 340.09px;
  height: 43px;
  gap: 0px;
  border-radius: 6px;
  opacity: 0px;
  outline: none;
  border: none;
}
.message{
  margin-top: 20px;
  width: 340.09px;
  height: 100px;
  gap: 0px;
  border-radius: 6px;
  opacity: 0px;
  border: none;
  outline: none;

}
.button{
  border: none;
  width: 340.09px;
  height: 43px;
  top: 3800px;
  left: 777.95px;
  gap: 0px;
  border-radius: 6px 6px 6px 6px;
  opacity: 0px;
  background-color: #C83244;
}
.textFooter{
  font-family: 'Redshift-Book',sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.76px;
  text-align: center;
  color: #C83244;
  z-index: 9999;
}
.fadeOver {
  position: absolute;
  margin-top: -520px;
  width: 100%;
  height: 540px; 
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, #e87c88 100%);
  pointer-events: none;
}
.cloud {
  width: 20vw; /* Lebar awan akan menjadi 20% dari lebar viewport */
  height: auto; /* Menjaga rasio aspek */
  top: 100vh; /* Jarak dari atas akan menjadi 10% dari tinggi viewport */
  right: 0vw; /* Jarak dari kanan akan menjadi 5% dari lebar viewport */
  position: absolute; /* Posisi absolut terhadap viewport */
  transform: translate(0, 0); /* Menghapus transformasi agar posisinya tepat */
}

.containerText2{
  /* width: 110.44px; */
  margin-top: 10%;
  margin-left: 10%;
}
.footer_ul{
  list-style-type: none;
  padding: 0; 
  margin: 0;
}
.footer_li{
  list-style: none;
  z-index: -2;
}
.footer_li a{
  font-family: 'Redshift-Bold', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 21.76px;
  text-align: left;
  text-decoration: none;
  color: #C83244;
}
.social_media{
  width: 37.92px;
  margin-top: 120px;
  height: 28.87px;
  display: flex;
  padding: 0px;
  gap: 20px;
  opacity: 0px;
  
}
.social_media a{
  z-index: 9999;
}
.dvnLogo{
  width: 30.22;
  height: 15.45;
}
.garisFooter{
  width: 188px;
  height: 0px;
  border:1px solid #C83244;
}
.learnMore{
  width: 169px;
  z-index: 999;
  height: 41px;
  top: 30%;
  background:none;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 0px;
  position: absolute;
  border-radius: 7px;
  border: 1px solid #FF6986;
  color:#E83166;
  opacity: 0px;
}
.awannya_caraousel{
  width: 847px;
  height: 389px;
  top: 389px;
  left: -537px;
  gap: 0px;
  opacity: 0px;
  /* angle: -180 deg;   */
  position: absolute;
}
.know_br{
  display: none;
}
.garis{
  display: inline;
}
@media (max-width: 768px) {
.footer{
  background-image: url('/image/mobile-footer.png');
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover;
  width: 100%;
  height: 191px;
}
.dvnLogo{
  width: 30.22px;
  height: 15.45px;
}
.footer_li a{
  font-size: 8px;
  line-height: 10.88px;
}
.footer_li{
  padding: -15px; 
  margin: -15px;
}
.footer_ul{
  padding: 8px; 
  margin: 8px;
}
.garisFooter{
width: 55px;
}
.awankanan{
  width: 40vw;
  height: 20vw;
  top:80.5%;
  /* border: 1px solid black;   */
}.awankiri{
  /* border: 1px solid black;   */
  width: 70vw;
  top: 73.5%;
  height: 30vw;
}
.social_media{
  width: 37.92px;
  height: 9.91px;
  margin-top: 20px;
  padding: 0px;
  gap: 5px;
  opacity: 0px;
}
.sosmedImage{
  width: 8.47px;
  height: 9.91px;
}
.textFooter{
  font-family: 'Redshift-Book',sans-serif;
  font-size: 8px;
  color: black;
  z-index: 9999;
}
.containerForm{
  padding: 12px;
  width: 226px;
  /* height: 136px; */
  margin-left: -100px;
  gap: 0px;
  opacity: 0px;

}
.containerForm p{
  font-size: 13px;
  line-height: 17.68px;
  
}
.input::placeholder{
  font-family: Redshift-BookOblique;
  font-size: 8px;
  font-style: italic;
  font-weight: 400;
  line-height: 10.88px;
  text-align: left;
}
.input{
  width: 199px;
  height: 20.15px;
  border-radius: 3px;
  opacity: 0px;
  }
.message::placeholder{
  font-family: Redshift-BookOblique;
  font-size: 8px;
  font-style: italic;
  font-weight: 400;
  line-height: 10.88px;
  text-align: left;
}
.message{
  margin-top:4px;
  width: 199px;
  height: 31.23px;
  gap: 0px;
  border-radius: 3px;
}
.button{
  width: 200px;
  height: 20.15px;
  border-radius: 3px;
  opacity: 0px;
}
.fadeOver {
  margin-top: -550px;
}
.pudar {
  width: 100%;
  height: 193.82px;
  position: relative;
  display: inline-block;
}
.ImageBotolPudar{
  width: 163.82px;
  height: 102.19px;
  top: 60%;
  transform: translate(-50%, -50%);
  left: 50%;
  gap: 0px;
  opacity: 30%;
  position: absolute;  
}
.learnMore{
  width: 84px;
  height: 18px;
  z-index: 999;
  top: 25%;
  background:none;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 0px;
  position: absolute;
  border-radius: 5px;
  border: 0.7px solid #FF6986;
  /* font-family: Redshift-Medium; */
  font-size: 8px;
  font-weight: 400;
  line-height: 10.88px;

}
.containerText .span{
  font-size: 13px;
  font-weight: bold;
  line-height: 14.3px;
}
.containerText .span .know{
  font-size: 13px;
  font-weight: bold;
  line-height: 14.3px;
  
}
.containerText .descript{
  font-size: 10px;
  font-weight: 400;
  line-height: 13.6px;
}
.know_br{
  display: inline;
}
.youtube{
  height: 236px;
}
.YoutubeThumb{
  height: 116px;
}
.YoutubeVideo{
  height: 116px;

}
.containerS2{
  padding-top: 20%;
}
.container{
  width: 50%;
}
.container2{
  width: 50%;
}
.picture {
  height: 201px;
  
}
.textValue{
  width: 211.3px;
  height: 61.58px;
  gap: 0px;
  opacity: 0px;
}
.textValue p{
  font-size: 10px;
  font-style: italic;
  font-weight: 400;
  line-height: 13.6px;
}
.text {
  font-size: 13px;
  font-weight: bold;
  line-height: 15.6px;
}
.span {
  font-size: 13px;
  font-weight: bold;
  line-height: 15.6px;
  
}
.rectangle {
  width: 106px;
  height: 87.4px;
}
.garis{
  display: none;
}
.awannya_caraousel{
  top: 0vw;
  left: -10vw;
  width: 50vw;
  height: 30vw;
}
.cloud {
  top: 70vw;
  width: 30vw;
  height: 30vw;
 /* border: 1px solid black; */
}
}
/* @media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
} */