
.container{
  width: 100%;
  height: 50vw;
  gap: 0px;
  background-image: url('/image/join-dealers.png');
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover;
}
.form{
  width: 38vw;
  height: 20;
  top: 14vw;
  left: 50vw;
  gap: 0px;
  opacity: 80%;
  padding: 3vw;
  position: absolute;  
  border-radius: 2vw ;
  background-color: #f0d9d9;
  text-align: center;
}
.form p{
  font-family: 'Redshift-Bold',sans-serif;
  font-size: 3vw;
  font-weight: bold;
  line-height: 5vw;
  text-align: left;
  color: #C83244;  
}

.email{
  width: 33vw;
  padding-left: 1vw;
  font-size: 1.3vw;
  height: 4vw;
  border-radius: 0.4vw;
  font-style: italic;
  border: none;
  outline: none;
}
.noHP{
  width: 33vw;
  outline: none;
  padding-left: 1vw;
  font-size: 1.3vw;
  height: 4vw;
  font-style: italic;
  border-radius: 0,4vw;
  opacity: 0px;
  border: none;
  margin-top: 1vw;
}
.button{
  margin-top: 1vw;
  border: none;
  width: 33vw;
  font-size: 1.3vw;
  height: 4vw;
  border-radius: 0.4vw; 
  background-color: #E95760;
  color: #FFFFFF;
}
@media (max-width: 768px) {
 .form{
  top: 17vh;
  left: 10vw;
  width: 80vw;
  height: 177px;
  /* border: 1px solid black; */
}
.form p{
  font-size: 13px;
  font-weight: bold;
  line-height: 17.68px;
}
.email{
  width: 236px;
  height: 20px;
  top: 152px;
  left: 61px;
  border-radius: 3px;
}
.noHP{
  width: 236px;
  height: 20px;
  top: 176px;
  left: 61px;
  margin-top: 4px;
  border-radius: 3px;
}
.email::placeholder{
  font-family: 'Redshift-Book',sans-serif;
  font-size: 8px;
  font-style:italic;
  font-weight: 400;
  line-height: 10.88px;
  text-align: left;
}
.noHP::placeholder{
  font-family: 'Redshift-Book',sans-serif;
  font-size: 8px;
  font-style:italic;
  font-weight: 400;
  line-height: 10.88px;
  text-align: left;
}
.button{
  width: 75px;
  height: 20px;
  top: 220px;
  margin-left: 43vw;
  border-radius: 3px;
  font-family: "Redshift-Bold",sans-serif;
  font-size: 8px;
  font-weight: 400;
  line-height: 10.88px;
  text-align: center;
}
.container{
  width: 100%;
  height: 355px;
  gap: 0px;
  background-image: url('/image/mobile-joindealers.png');
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover;
}

}