@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.awan1{
    position: absolute;
    width: 30vw;
    height: 20vw;
    top: -3vw;
    left: 55vw;
    /* border: 1px solid black; */

}.awan2{
    width: 50vw;
height: 23vw;
top: -8vw;
left: -20vw;
position: absolute;
}
.youtube{
    width: 100%;
    padding: 5vw 9vw;
    height: max-content;
}
.youtube2{
    padding: 5vw 9vw;
    padding-bottom: 15vw;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
}
.video_youtube2{
    width: 65%;
}
.detail_youtube2{
    /* border: 1px solid black; */
    margin-top: 5vw;
    display: inline-block;
    width: 35vw;
    padding: 5vw;
}
.testimonial{
    font-family: 'Redshift-Bold',sans-serif;
    font-size: 2.3vw;
    font-weight: bold;
    line-height: 1vw;
    text-align: left;
    color: #E83166;
}
.testimonial_detail{
    color: #363636;
    font-family: 'Redshift-Book',sans-serif;
    font-size: 1.55vw;
    font-weight: 400;
    line-height: 2vw;
    text-align: left;
}

.youtube p{
    font-family: 'Redshift-Bold',sans-serif;
    font-size: 2.5vw;
    font-weight: bold;
    line-height: 2vw;
    text-align: left;
    color: #E74058;
}
.youtube p span{
    color: #575757;

}
.ingredientsContainer{
    width: 100%;
    height: max-content;
    background-color: #FFF9F9;
}
.garisContainer{
    width: 100%;
    height: 60vh;
    top: 240vh;
    position: absolute;
    background: radial-gradient(27.11% 50% at 26.33% 50%, #FEF3F4 0%, #F7BABA 48%, #FE9A9A 100%);
}
.botol{
    width: 354px;
    height: 356px;
    top: 220vh;
    left: 11vw;
    position: absolute;

}
.kotak_informasi {
    position: absolute;
    width: 600.79px;
    height: 279px;
    top: 232vh;
    left: 546.21px;
    background: #FFEFEF;
    border-radius: 16px;
    overflow: hidden; 
    z-index: 1; 
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.imagereviews{
    width: Hug (646.44px)px;
    height: Hug (138.61px)px;
    top: 269vh;
    left: 534px;
    gap: 19px;
    opacity: 0px;
    position: absolute;
    z-index: 999;
}
.kotak_informasi ul{
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.76px;
    text-align: left;
    color: #5E0E0E;
    padding-left: 6%;
}
.kotak_informasi p{
    font-family: 'Redshift-Bold',sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 27.2px;
    text-align: left;
    color: #D65063;

}
.kotak_informasi::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 16px; 
    padding: 2px;
    background: linear-gradient(180deg, rgba(248, 149, 176, 0.58) 0%, rgba(247, 186, 204, 0.37) 48%, rgba(233, 59, 80, 0.3) 100%); -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0); -webkit-mask-composite: xor; mask-composite: exclude;
    z-index: -1;
}
.image{
    width: 100%;
    height: auto;
}
.containerWorks{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.containerWorks p{
    font-family: 'Montserrat',sans-serif;
    font-size: 1vw;
    font-weight: 400;
    line-height: 1.4vw;
    text-align: left;
}
.containerWorks .text{
    width: 25vw;
    height: 10vw;
    /* border: 1px solid black; */
    color: #363636;
    font-family: "Montserrat",sans-serif;

}
.image_works{
    width: 100%;
}
.howtoworks{
    width: 17vw;
    /* border: 1px solid black; */
    height: 6vw;
    top: 164vw;
    left: 42vw;
    transform: translate(-50%, -50%);
    position: absolute;
}
.howtoworks p{
    font-family: 'Redshift-Bold',sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 39.6px;
    text-align: left;
    color: #E74058;
}
.howtoworks p span{
    color: #575757;
}
.container_featured{
    background-color:#FFF9F9;
   /* padding: 100px; */
}
.featured{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background-color: #FFF9F9;
    padding: 5vw 9vw;
    /* padding-bottom: 200px; */
}
.imageFeatured{
    width: 27vw;
    height: 30vw;
    border-radius: 1vw;
    border: 2px solid #D29AA2;
    align-items: center;
    display: flex;
    justify-content: center;
}
.imageFeatured .imageFeatureds{
    width: 22vw;
    height: 22vw;
}
.detailFeatured {
    width: 100%;
    padding-top: 8vw;
    padding-left: 4vw;
    display: flex;
    /* border: 1px solid black; */
    flex-direction: column;
    justify-content: space-between;
  }
.title{
    font-family: 'Redshift-Bold',sans-serif;
    font-size: 2vw;
    font-weight: bold;
    line-height: 4vw;
    text-align: left;
    color: #F56F83;
}
.text{
    font-family: 'Montserrat',sans-serif;
    font-size: 0.9vw;
    font-weight: 400;
    line-height: 1vw;
    text-align: left;
    width: 36.49vw;
    height: 216px;
}
.title_featured{
    font-family: 'Redshift-Bold',sans-serif;
    font-size: 2.6vw;
    font-weight: bold;
    line-height:8vw;
    text-align: left;
    color: #E74058;
}
.title_featured span{
color: black;
}
.tombol {
    display: flex;
    gap: 20px;
    margin-top: auto; /* Mendorong tombol ke bawah */
  }
.buynow{
    width: 10vw;
    height: 3vw;
    border-radius: 2vw;
    background-color: #E74058;
    border: 1px solid #E74058;
    color: #FFFFFF;
    font-size: 1vw;
    font-weight: bold;
}
.consult{
    width: 13vw;
    height: 3vw;
    border-radius: 2vw;
    border: 1px solid #E74058;
    color: #E74058;
    background-color: #DD7B8126;
    font-size: 1vw;
    font-weight: bold;
}
.reviews{
    padding-left: 6vw;
}
.reviews .textnya {
    font-family: 'Redshift-Book',sans-serif;
    font-size: 1.6vw;
    font-weight: 400;
    line-height: 32.64px;
    text-align: left;
    color: #363636;
  }
  .reviews .textnya span {
    font-family: 'Redshift-Bold',sans-serif;
    font-size: 3vw;
    font-weight: bold;
    line-height: 39.6px;
    text-align: left;
    color: #E74058;
  }
  .text_header{
    width: 16vw;
    /* border:1px solid black; */
    height: 5vw;
    top: 17vw;
    left: 15vw;
    opacity: 0px;
    position: absolute;
    font-family: 'Redshift-Bold',sans-serif;
    font-size: 4vw;
    font-weight: bold;
    line-height: 5vw;
    text-align: left;
    color: #FFFFFF;
  }
  .image_product{
    width: 30vw;
    height: 27vw;
    top: 27.5vw;
    transform: translate(-50%, -50%);
    left: 65vw;
    position: absolute;
  }
  .peptide{
    width: 144px;
    height: 144px;
    top: 220vh;
    z-index: 999;
    left: 978px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
  }
  .mainIngredients{
    width: 308px;
    height: 40px;
    top: 213vh;
    left: 545px;
    gap: 0px;
    opacity: 0px;
    position: absolute;

    font-family: 'Redshift-Bold',sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 39.6px;
    text-align: left;

  }
  .mainIngredients span{
    color: #E74058;
  }
  .mainDetail{
    width: 257px;
    height: 26px;
    top: 223vh;
    left: 545px;
    gap: 0px;
    opacity: 0px;
    position: absolute;

    font-family: 'Redshift-Bold',sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 38.08px;
    text-align: left;
    color: #F56F83;
  }
  .detail_youtube2_mobile{
    display: none;
  }
  .productionThumb{
    width: 100%;
    height: 37vw;
    border-radius:30px;
    cursor: pointer;
  }
  .productionVideo{
    position: relative;
    width: 100%;
    border-radius:30px;
    height: 37vw;
  }
  .peptide_blue{
    display: none;
  }
  .detailFeaturedMobile{
    display: none;
  }
  .MobileDetailFeatured{
    display: none;
  }
  .ContainerReviews{
    padding-top: 7%;
    padding-bottom: 2%;
}
.awan3{
    display: none;
 }
 .awan4{
    display: none;
 }
 .benefit{
    display: grid;
    grid-template-columns: 37% 63%;
    width: 100%;
    padding: 7vw 7vw;
    padding-right: 8.5vw;
    padding-bottom: 11vw;
    box-sizing: border-box;
    align-items: flex-end;
    background-image: url(../image/bg-benefit.png);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
 }
 .benefit_image_product img{
    width: 100%;
    margin-bottom: -3.6vw;
 }
 .benefit_content_product{
    margin-left: 1vw;
 }
 .benefit_content_product h1{
    font-size: 2.8vw;
    margin-bottom: 1.2vw;
    font-family: 'Redshift-Bold',sans-serif;
    font-weight: 800;
    color: #575757;
    display: block;
 }
 .benefit_content_product h1 span{
    color: #E74058;
 }
 .benefit_content_product h3{
    font-size: 1.9vw;
    color: #F56F83;
    font-family: 'Redshift-Bold',sans-serif;
    font-weight: bold;
    margin-bottom: 1vw;
    display: block;
 }
 .benefit_box_product{
    background-color: #FFEFEF;
    border: .1vw solid rgba(248, 149, 176, 0.58);
    padding: 2vw 3vw;
    border-radius: 1vw;
    position: relative;
    padding-bottom:6.6vw;
 }
 .benefit_box_product h5{
    font-size: 1.9vw;
    color: #D65063;
 }
 .peptide_image{
    position: absolute;
    right: 1vw;
    top: -7.3vw;
    width: 13vw;
 }
 .bahan_image{
    width: 54vw;
    position: absolute;
    bottom: -8vw;
    left: 50%;
    transform: translateX(-50%);
 }
 .benefit_box_product ul {
    line-height: 1.3;
 }
 .benefit_box_product ul li{
    font-size: 1.3vw;
    font-family: "Montserrat", sans-serif;
    color: #5E0E0E;
 }
 .awan_desktop_1{
    position: absolute;
    left: 0;
    bottom: -2.9vw;
    width: 18vw;
    display: block;
 }
 .awan_desktop_2{
    position: absolute;
    right: 0;
    bottom: 13.6vw;
    width: 10vw;
    display: block;
 }
 .awan_desktop_3{
    display: none;
 }
 .awan_desktop_4{
    display: none;
 } 
 .benefit_content_product_mobile{
    display: none;
 }
@media (max-width:768px) {  
    .awan_desktop_1{
        position: absolute;
        left: 0;
        bottom: -2.9vw;
        width: 18vw;
        display: none;
     }
     .awan_desktop_2{
        position: absolute;
        right: 0;
        bottom: 13.6vw;
        width: 10vw;
        display: none;
     } 
     .awan_desktop_3{
        position: absolute;
        left: 0;
        bottom: 37vw;
        width: 23vw;
        display: block;
     }
     .awan_desktop_4{
        position: absolute;
        right: 0;
        bottom: 73vw;
        width: 31vw;
        display: block;
     } 
    .benefit_content_product_mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5vw;
    }
    .benefit_content_product_mobile h1{
        font-size: 4.2vw;
        margin-bottom: 1.2vw;
        font-family: 'Redshift-Bold',sans-serif;
        font-weight: 800;
        color: #575757;
        display: block;
     }
     .benefit_content_product_mobile span{
        color: #D65063;
     }
     .benefit_content_product_mobile h3{
        font-size: 3.6vw;
        color: #F56F83;
        font-family: 'Redshift-Bold',sans-serif;
        font-weight: bold;
        display: flex;
        margin-bottom: -.7vw;
        align-items: center;
     }
     .benefit_content_product_mobile h3 img{
        width: 6vw;
        margin-bottom: -2vw;
     }
    .benefit{
        grid-template-columns: 100%;
        background-position-y: bottom;
        padding: 6vw 5vw;
        padding-bottom: 18vw;
        background-image: url(../image/bg-benefit-mobile.png);
        background-position: center center;
    } 
    .benefit_image_product img{
        width: 46vw;
        margin-bottom: -3.6vw;
        display: block;
        margin: auto;
     }
     .benefit_content_product h1{
        display: none;
     }
     .benefit_content_product h3{
        display: none;
     }
     .benefit_box_product{
        border: .2vw solid rgba(248, 149, 176, 0.58);
        background-color: #FFEFEF;
        padding: 4vw 5.2vw;
        border-radius: 3vw;
        padding-bottom:6.6vw;
     }
     .benefit_box_product h5{
        font-size: 3.8vw;
     }
     .benefit_box_product ul {
        line-height: 1.4;
        margin-left: -4vw;
     }
     .benefit_box_product ul li{
        font-size: 2.6vw;
     }
     .bahan_image{
        width: 92vw;
        bottom: -13vw;
     }
     .peptide_image{
        right: 2vw;
        top: -11vw;
        width: 23vw;
     }
    .image_product{
        width: 110.59px;
        height: 111.65px;
        top: 43vw;
        left: 70vw;
    }
    .text_header{
        width: 78px;
        height: 21px;
        top: 30vw;
        left: 15vw;
        font-size: 16px;
        font-weight: 400;
        line-height: 17.6px;
    }
    .youtube{
        padding: 5%;
        height: 100vw;
    }
    .youtube p{
        font-size: 13px;
        font-weight: bold;
        line-height: 14.3px;
    }
    .productionThumb{
        width: 100%;
        height: 70vw;
    }
    .productionVideo{
        width: 100%;
        height: 70vw;
    }
    .ingredientsContainer{
        width: 100%;
        height: 157px;
        
    }
    .garisContainer{
        width: 100%;
        height: 80vw;
        top: 195vw;
        background: radial-gradient(53.8% 53.8% at 50.12% 31.4%, #FFEDED 0%, #FE9A9A 74.41%);
    }
    .flexText{
        justify-content: center;
        padding: 5%;
        /* gap: 10%; */
        align-items: center;
        display: flex;

      }
    .mainIngredients{
        width: 50vw;
        height: 34px;
        position:unset;
        display: flex;
        align-items: center;
        font-size: 13px;
        font-weight: 400;
        line-height: 14.3px;
        font-size: 13px;
        font-weight: bold;
        line-height: 14.3px;    
      }
      .mainDetail{
        position:unset;
        width: 50vw;
        height: 34px;
        text-align: right;
        font-size: 10px;
        font-weight: bold;
        line-height: 13.6px;
        display: flex;
        align-items: center;
        justify-content: end;

      }
      .botol{

        width: 210px;
        height: 210px;
        top: 170vw;
        left: 21vw;
        /* box-shadow: 14px 14px 14px 14px #951B3121; */
      
        position: absolute;
      }
      .peptide_blue{

        margin-top: 3.5%;
        display:inline-block;
      }
      .kotak_informasi {
        width: 85vw;
        height: 122px;
        top: 223vw;
        left: 24px;
    }
    .imagereviews{
        width: 312px;
        height: 66.9px;
        top: 250vw;
        left: 24px;
        gap: 0px;
        opacity: 0px;
    }
    .kotak_informasi ul{
        margin-top: -7%;
        font-size: 8px;
        font-weight: 400;
        line-height: 10.88px;    
    }
    .kotak_informasi p{
        font-size: 10px;
        font-weight: bold;
        line-height: 13.6px;
    }
    .peptide{
        width: 62px;
        height: 61px;
        top: 217vw;
        left: 259px;
        
      }
/* Section How Does it Works */
    .containerWorks{
        height: 80vw;
        /* border: 1px solid black; */
        /* gap: 5%; */
        position: relative;
    }
    .howtoworks{
        width: 20vw;
        /* border: 1px solid black; */
        height: 8vw;
        top: 39.9vw;
        left: 30vw;

    }
    .howtoworks p{
        font-size: 3vw;
        font-weight: bold;
        line-height: 4vw;
    }
    .containerWorks .text p{
        width: 35vw;
        margin-top: -7vw;
        /* border: 1px solid black; */
        font-size: 2vw;
        font-weight: 400;
        line-height:2.7vw;
         
    }.image_works{
        width: 50vw;
        height: 50vw;
        margin-left: -25vw;
        /* margin-top: 17vw; */
    }
/* SECTION FEATURED */
    .title_featured{
        display: none;
    }
    .title_featuredMobile{
        font-family: 'Redshift-Bold',sans-serif;
        font-size: 13px;
        font-weight: bold;
        line-height: 14.3px;
        text-align: left;
        color: #E74058;
        width: 166.12px;
        height: 11.28px;
    }
    .title_featuredMobile span{
        color: #575757;
    }
    .title{
        width: 144px;
        height: 7px;
        font-size: 10px;
        font-weight: bold;
        line-height: 13.6px;
        text-align: left;
    }
    .imageFeatured{
        width: 156.7px;
        height: 158.07px;
    }
    .imageFeatured .imageFeatureds{
        width: 116.16px;
        height: 117.29px;
    }
    .featured{
        padding: 0px;
        gap: 5vw;
    }
    .container_featured{
        background-color: #FFF9F9;
        padding: 5%;
    }
    .detailFeatured{
        display: none;
    }
    .detailFeaturedMobile{
        margin-top: 7vw;;
        display: inline-block;
    }
    .MobileDetailFeatured .text{
        width: 100%;
        height: 35vw;

        font-family: "Montserrat",sans-serif;
        font-size: 8px;
        font-weight: 400;
        line-height: 9.75px;
        text-align: left;

    }
    .MobileDetailFeatured{
        font-family: "Montserrat",sans-serif;
        font-size: 8px;
        width: 90vw;

        font-weight: 400;
        padding-top: 10vw;
        line-height: 9.75px;
        text-align: left;
    }
    .MobileDetailFeatured{
        display: inline-block;
    }
    .tombolMobile{
        width: 88px;
        height: 45px;
        margin-top: 7vw;
    }
    .buynowMobile{
        width: 56px;
        height: 20px;
        border-radius: 50px;
        opacity: 0px;

        font-family: "Redshift-Bold",sans-serif;
        font-size: 8px;
        font-weight: 400;
        line-height: 9.6px;
        text-align: center;
        color: #FFFFFF;
        border: 1px solid #E74058;
        background-color: #E74058;
    }
    .consultMobile{
        width: 88px;
        height: 20px;
        border-radius: 50px;
        border: 0.5px solid #E74058;
        background: #DD7B8126;
        opacity: 0px;

        font-family: "Redshift-Bold",sans-serif;
        font-size: 8px;
        font-weight: 400;
        line-height: 9.6px;
        color:#E74058;
        text-align: center;

    }
/* SECTION TESTIMONI */
    .youtube2{
        padding: 5%;
        display: block;
        align-items: center;
    }
    .video_youtube2{
    width: 100%;
    }
    .detail_youtube2_mobile{
        width: 100%;
        display: block;
    }
    .detail_youtube2{
        display: none;
    }
    .testimonial{
        font-size: 13px;
        font-weight: bold;
        line-height: 14.3px;   
    }
    .testimonial_detail{
        font-size: 10px;
        font-weight: 400;
        line-height: 13.6px;
    }
    .ContainerReviews{
        padding: 5%;

    }
    .reviews{
        padding-left: 0px;
    }
    .reviews .textnya {
        font-family: "Redshift-Book",sans-serif;
        font-size: 10px;
        font-weight: 400;
        line-height: 13.6px;
      }
    .reviews .textnya span {
        font-size: 13px;
        font-weight: 400;
        line-height: 14.3px;     
    }
    .awan1{
       /* display: none; */
       width: 40vw;
       height: 20vw;
       top: 13vw;
       left: 50vw;
       /* border: 1px solid black; */
    }
    .awan2{
       /* border: 1px solid black; */
        width: 40vw;
        height: 20vw;
        top: 3vw;
        left: -25vw;
    }
    .awan3{
        position: absolute;
        width: 30vw;
        height: 50vw;
        top: 200vw;
        display: inline-block;
        /* border: 1px solid black; */
     }
     .awan4{
        position: absolute;
        display: inline-block;
        width: 40vw;
        height: 20vw;
        top: 195vw;
        left: 60vw;
        /* border: 1px solid black; */
     }
}