.reviewsContainer {
    display: flex;
    overflow-x: auto;
    /* padding: 20px; */
    gap: 2.3vw;
    padding: 2vw;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}
.reviewsContainer::-webkit-scrollbar {
    display: none; 
}
.review {
    box-shadow: 0px 4px 9.6px 0px #EB9AB069;
    background-color: #FFFFFF; 
    border: 1px solid #E8C7CD; 
    width: 30vw;
    /* border: 1px solid black; */
    height: 21vw;
    padding: 2vw;
    border-radius: 2vw;
    display: flex;
    flex-direction: column; 
  }
  .review .images {
    width: 100%;
    text-align: center;
  }
  .review b {
    font-family: 'Redshift-Bold',sans-serif;
    font-size: 1vw;
    margin-top: 1.5vw;
    font-weight: bold;
    line-height: 2vw;
    text-align: left;   
  }
  .review p {
    font-family: 'Redshift-Book',sans-serif;
    font-size: 0.9vw;
    font-weight: 400;
    line-height:1.2vw;
    text-align: left;
    color: #636363;
  }
  .review .tgl {
    font-family: 'Redshift-Book',sans-serif;
    margin-top: auto;
    color: #969696;
    font-size: 0.7vw;
    font-weight: 400;
    line-height: 1vw;
    text-align: left;

  }
.review:active {
  cursor: grabbing;
}
.imageReview{
  width: 100%;
  height: auto;
}
@media (max-width:786px) {
  .imageReview{
    width: 97.22px;
    height: 16.81px;

  }
  .reviewsContainer{
    width: 90vw;
  /* border: 1px solid black;   */
    height: 50vw;
  }
  .review{
    width: 40vw;
    border-radius: 5vw;
    height: 46vw;
  }
  .review b {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.32px;
    
  }
  .review p {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
  }
  .review .tgl {
    font-size: 10px;
    font-weight: 400;
    line-height: 13.6px;
  }

}