@font-face {
    font-family: 'Redshift-Book';
    src: url('/fonts/redshift-book.ttf') format('ttf');
}
@font-face {
    font-family: 'Redshift-Bold';
    src: url('/fonts/redshift-bold.ttf') format('ttf');
}
.section{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.about{
    width: 100%;
    display: flex;
}
.col_1{
    width: 100%;
    height: 27vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.col_3{
    width: 100%;
    /* height: 396px; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.col_4{
    width: 100%;
    /* height: 396px; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.col_5{
    width: 100%;
    /* height: 396px; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.col_6{
    width: 100%;
    /* border: 1px solid black; */
    /* height: 396px; */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    
}
.col_two{
    width: 100%;
    /* height: 396px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.botol{
    width: 100%;
    /* height: 396px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.col_two_image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 56.25%; /* Sesuaikan dengan rasio aspek gambar */
    background-image: url('/image/blur2.png');
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
    height: 0; /* Pastikan height diatur ke 0 untuk menggunakan padding-top */
}

.col_two_image > .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 443px;
    color: white;
}
.col_one_image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 56.25%; /* Sesuaikan dengan rasio aspek gambar */
    background-image: url('/image/blur1.png');
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
    height: 0; /* Pastikan height diatur ke 0 untuk menggunakan padding-top */
}

.col_one_image > .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 443px;
    color: white;
}


.col_2{
    width: 100%;
    height: 27vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E74058;
    z-index: 0;
}
.duo{
    width: 100%;
    height: 100%;
}
.botol_d{
    width: 49.5vw;
    height: auto;
}
.blur1{
    width: 100%;
    height: 100%;
}.blur2{
    width: 100%;
    height: 100%;
}
.sectionAdvan{
    position: relative;
    height:max-content;
    width: 100%;
    padding: 4vw 10vw;
    padding-bottom: 7vw;
}
.container_text{
    display: grid;
    grid-template-columns: 34% 37% 27%;
}
.container_text_1{
    margin-top: 1.2vw;
}
.container_text_1 h1{
    font-size: 2.8vw;
    font-family: 'Redshift-Bold',sans-serif;
    font-weight: 700;
    color: #575757;
}
.container_text_1 h1 span{
    color: #CF3D60;
}
.container_text_1 p{
    font-family: 'Redshift-Book',sans-serif;
    font-size: 1.2vw;
    line-height: 1.3;
    color: #363636;
    padding-right: 2vw;
}
.container_text_3{
    margin-left: -1.7vw;
    margin-top: 8.8vw;
}
.container_text_3 h1{
    font-size: 2.8vw;
    font-family: 'Redshift-Bold',sans-serif;
    font-weight: 700;
    color: #575757;
    line-height: 1;
}
.container_text_3 h1 span{
    color: #CF3D60;
}
.container_text_3 p{
    font-family: 'Redshift-Book',sans-serif;
    font-size: 1.2vw;
    line-height: 1.3;
    color: #363636;
    padding-right: 2vw;
}
.container_text img{
    width: 100%;
    margin-left: -3.2vw;
    display: block;
}
.container_text_2{
    width: 30vw;
    display: block;
    margin: auto;
    margin-top: 1.3vw;
}
.container_text_2 h1{
    font-size: 2.8vw;
    font-family: 'Redshift-Bold',sans-serif;
    font-weight: 700;
    color: #575757;
    line-height: 1;
}
.container_text_2 h1 span{
    color: #CF3D60;
}
.container_text_2 p{
    font-family: 'Redshift-Book',sans-serif;
    font-size: 1.2vw;
    line-height: 1.3;
    color: #363636;
    padding-right: 2vw;
}
@media (max-width:768px) {
    .sectionAdvan{
        padding: 4vw 9vw;
        padding-top: 13vw;
        padding-bottom: 8vw;
    }
    .container_text img{
        display: none;
    }
    .container_text{
        grid-template-columns:100%;
    }
    .container_text_1 h1{
        font-size: 5vw;
    }
    .container_text_1 p{
        font-size: 3vw;
    }
    .p_layout{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2vw;
    }
    .container_text_3{
        margin-left: 0;
        margin-top: 2vw;
    }
    .container_text_3 h1{
        font-size: 5vw;
    }
    .container_text_3 p{
        font-size: 3vw;
        line-height: 1.3;
        padding-right: 0;
    }
    .container_text_2{
        width: 100%;
        margin-top: 2vw;
    }
    .container_text_2 h1{
        font-size: 5vw;
    }
    .container_text_2 p{
        font-size: 3vw;
        padding-right: 0;
    }
    .botol_d{
        width: 40vw;
        height: auto;
    }
}
.section_five{
    padding: 70px;
    height: 100vh;
    display: flex;
    width: 100%;
    justify-content: center;
}
.image{
    width: 100vw;
    height: 39.2vw;
}
.container_core{
    width: 25vw;
    color: white;
    top: 673px;

}
.core{
    font-family: 'Redshift-Bold',sans-serif;
    font-size: 2vw;
    font-weight: 400px;
    line-height: 3vw;
    text-align: left;
    color: #E74058;
}
.core_down{
    font-family: 'Redshift-Bold',sans-serif;
    font-size: 36px;
    font-weight: 400px;
    line-height: 39.6px;
    text-align: left;
}
.value_core_down{
    font-family: 'Redshift-Book',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
}
.black{
    color: black;
}
.value_core{
    font-family: 'Redshift-Book',sans-serif;
    font-size: 1vw;
    font-weight: 400;
    line-height: 1.3vw;
    text-align: left;
    color: #363636;
}
.image_center{
    width: 22.58vw;
}


.text_1 {
    font-family: 'Redshift-Bold', sans-serif;
    font-size: 1.88vw;
    font-weight: 400;
    line-height: 39.6px;    
    text-align: left;
    color: #E74058;
}


.text_2{
    font-family: 'Redshift-Book',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;

}
.leading{
    font-family: 'Redshift-Book',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;

}
.text_black{
    color: black;
}
.titleheader{
    
    color: #FFFFFF;
    font-family: 'Redshift-Bold',sans-serif;
    font-size: 3vw;
    font-weight: bold;
    line-height: 4vw;
    text-align: center;

}
.titledetail{
    
    font-family: 'Redshift-Book',sans-serif;
    font-size: 1vw;
    font-weight: 400;
    line-height: 1.3vw;
    text-align: left;
    color: #FFFFFF;
}
.aboutheader{
    background: linear-gradient(270deg, #CF3D60 0%, rgba(233, 59, 59, 0) 98.27%);
    width: 60vw;
    height: 39.3vw;
    right: 0;
    /* border:1px solid black; */
   
    position: absolute;
}
.aboutheadertext{
    width: 23vw;
    height: 11vw;
    top: 20vw;
    left: 10vw;
    /* border:1px solid black; */
    gap: 0px;
   
    position: absolute;    

}
.aboutheadertitle{
    width: 10vw;
    /* border:1px solid black; */
    height: 4vw;
    top: 15vw;
    left: 9vw;
    position: absolute; 
}
.tombol{
width: 30vw;
height: 4vw;
top: 39.3vw;
left: 50vw;
transform: translate(-50%, -50%);
gap: 0px;
border-radius: 2vw;
position: absolute;
display: flex;
align-items: center;
gap: 20px;
/* border: 1px solid black; */
z-index: 2;

}
.brand{
    width: 60vw;
    height: 4vw;
    border-radius: 2vw;
    color: #FFFFFF;
    background-color: #E74058;
    border: 1px solid #E74058;
    font-family: 'Redshift-Bold',sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
    line-height: 28.8px;
    text-align: center;

}
.management{
    width: 100vw;
    height: 4vw;
    color: #E74058;
    background: none;
    border-radius: 2vw;
    border: 1px solid #E74058;
    font-family: 'Redshift-Bold',sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
    line-height: 28.8px;
    text-align: center;
    
    }
    .awan1{
        width: 42vw;
        height: 20vw;
        top: 3vw;
        left: -20vw;
        gap: 0px;
        position: absolute;
    }
    .awan2{
        position: absolute;
        width: 30vw;
        height: 14vw;
        top: 1vw;
        left: 54vw;
    
    }
    .awan3{
    width: 33vw;
    height: 25vw;
    right: 0;
    bottom: -10vh;
    gap: 0px;
   
    position: absolute;
    }
    .garisimage{
        width: 100vw;
        height: 4vw;
    }
    .mobile_br{
        display: none;
    }
@media (max-width: 768px) {
.image{
    /* margin-top: 70px; */
    height: 234px;
}
.garisimage{
    height: 24px;
}
.awan1{
    width: 100vw;
    top: 10vw;
    left: -70vw;
    height: 30vw;
}
.awan2{
    width: 40vw;
    top: -2vw;
    left: 40vw;
    height: 30vw;
}
.awan3{
    width: 50vw;
    top: 50vw;
    left: 50vw;
    height: 30vw;
    
}
.image_center{
    display: none;
}
.section_five{
    display: none;
}
.titleheader{
    font-size: 13px;
    font-weight: 400;
    line-height: 14.3px;
}
.titledetail{
    font-size: 8px;
    font-weight: 400;
    line-height: 9.6px;
}
.aboutheader{
    width: 100%;
    height: 234px;
}
.aboutheadertitle{
    width: 52px;
    height: 12px;
    top: 80px;
    left: 161px;
}
.aboutheadertext{
    width: 164px;
    height: 77px;
    top: 100px;
    left: 171px;
}
.brand{
    color: #E74058;
    font-size: 8px;
    font-weight: 400;
    line-height: 9.6px;
    width: 46.32px;
    height: 19.47px;
    left: 171px;
    background-color: white;
}
.management{
    width: 76.9px;
    height: 19.47px;
    left: 222.32px;
    font-family: 'Redshift-Bold',sans-serif;
    font-size: 8px;
    font-weight: 400;
    line-height: 9.6px;
    text-align: center;
    border: 1px solid white;
    color: white;
    }
    .tombol{
        width: 128.23px;
        height: 19.47px;
        top: 201px;
        left: 62vw;
        padding: 0px;
        gap: 5px;
    }
    .col_1{
        width: 64vw;
        height: auto;
    }
    .col_2{
        width: 36vw;
        height: 220px;
    }
    .col_3{
        width: 40vw;
    }
    .col_4{
        width: 60vw;
    }
    .col_5{
        width: 60vw;
    }
    .col_6{
        width: 40vw;
    }
    .col_two{
        width: 40%;
        /* padding: 5%; */
        
        
    }
    .botol{
        width: 40%;
        /* left: 0px; */
        
        
    }
    .container_core{
        width: 158px;
        height: 98px;
    }
    .core{
        font-size: 13px;
        font-weight: 400;
        line-height: 14.3px;
        text-align: left;
    }
    .value_core{
        font-size: 8px;
        font-weight: 400;
        line-height: 9.6px;
    }
    .core_down{
        font-size: 13px;
        font-weight: 400;
        line-height: 14.3px;

    }
    .value_core_down{
        font-size: 8px;
        font-weight: 400;
        line-height: 9.6px;
    }
    .col_one_image{
        height: 206px;
    }
    .col_two_image{
        height: 206px;
    }
    .col_one_image > .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 128px;
        color: white;
    }
    .col_two_image > .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 128px;
        color: white;
    }
    .duo{
        padding-right: 10%;
    }
    .mobile_br{
        display: inline;
    }
    .text21{
        
        width: 144px;
        height: 59px;
        top: 1249px;
        left: 26px;
        gap: 0px;
       
    }
    .text22{
        
        width: 155px;
        height: 59px;
        top: 1249px;
        left: 177px;
        gap: 0px;
       
    }
    .text_1{
        font-size: 13px;
        font-weight: 400;
        line-height: 14.3px;
    }
    .text_2{
        font-size: 9px;
        font-weight: 400;
        line-height: 10.8px;
    }
    .leading{
        font-size: 9px;
        font-weight: 400;
        line-height: 10.8px;
        display: flex;
    }
}