.burger {
  display: none;
}

.burger.active {
  display: inline-block;
}

.toggle {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}
@media (max-width:786px) {
  .burger{
    position: fixed;
    display: inline-block;
    width: 129px;
    height: 150px;
    top: 0px;
    right: 0;
    gap: 0px;
    z-index: 99999;
  }
  .button{
    margin-left: 70%;
    margin-top: 11px;
    border: none;
    background: transparent;
  }
  .content{
    margin-top: 13px;
    background-color: #E83166;
    position: absolute;
    right: 0;
    width: max-content;
    padding: 2vw 5vw;
    padding-right: 7vw;
    padding-bottom: 4vw;
  }
  .ul{
    margin: 0;
    padding: 10%;
  }
  .ul li{
    list-style: none;
    padding-top: 10%;
    /* border: 1px solid black; */
  }
  .ul li a{
    text-decoration: none;
    color: white;
    display: block;
    font-size: 3.6vw;
    width: max-content;
  }
  .translate{
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    margin-top: 3vw;
    width: 15vw;
  }
  .id{
    width: 50%;
    height: 23px;
    font-family: "Redshift-Book",sans-serif;
    font-size: 3.4vw;
    font-weight: 400;
    line-height: 21.76px;
    text-align: center;
    color: #FFFFFF;
  }
  .en{
    width: 50%;
    height: 23px;
    border-radius: 3px;
    font-family: "Redshift-Book",sans-serif;
    font-size: 3.4vw;
    font-weight: 400;
    line-height: 21.76px;
    text-align: center;
  }
  div.active{
    background: #FFFFFF;
    color: #E83166;
  }
}