@font-face {
    font-family: 'Redshift-BookOblique';
    src: url('/fonts/redshift-book-oblique.ttf') format('ttf');
}

@font-face {
    font-family: 'Redshift-Bold';
    src: url('/fonts/redshift-bold.ttf') format('ttf');
}

@font-face {
    font-family: 'Redshift-Book';
    src: url('/fonts/redshift-book.ttf') format('ttf');
}
@font-face {
    font-family: 'Oruguitas';
    src: url('/fonts/Oruguitas.otf') format('otf');
}
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat.ttf') format('ttf');
}