.nav {
    display: flex;
    padding-right: 3vw;
    justify-content: space-between;
    align-items:center;
    height: 5vw;
    background-color: white;
    position: fixed;
  /* border: 1px solid black; */
    top: 1.5vw;
    width: 100vw;
    z-index: 9999;
  }
  .logo{
    margin-left: 2vw;
  }
  .nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3.3vw;
    margin-top: 1vw;

  }
  
  .nav ul li {
    list-style-type: none;
  }
  
  .nav ul li a {
    color: #333;
    text-decoration: none;
    font-family: 'Redshift-Book', sans-serif;
    font-size: 1.2vw;
    font-weight: 500;
    text-align: center;
    
  }
  
  .nav a:hover {
    color: #666;
  }
  .dvn{
    width: 6vw;
    height: auto;
    margin-left: 3vw;
  }
  /* Tambahkan ini di file CSS Anda */
button.active {
  color: white;
  background-color: #363636;
}
  .translate{
    width: 4.5vw;
    height:1.7vw;
    border: 1px solid black;
    display: flex;
  }
  .id{
    border: none;
    border-radius: 0px 4px 4px 0px;
    text-align: center;
    font-size: 1vw;
    height: 100%;
    width: 50%;
  }
  .en{
    border: none;
    font-size: 1vw;
    text-align: center;
    border-radius: 4px 0px 0px 4px;
    border: none;
    height: 100%;
    width: 50%;
  }
  /* Transform the hamburger menu into a cross (X) */
/* .change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
} */

@media (max-width: 768px) {
  .nav {
    height: 52px;
    top: 0px;
    width: 100vw;
    z-index: 999;
    }
  .nav ul{
    display: none;
  }
  .dvn{
    width: 44px;
    height: 22.49px;
    margin-left: 24px;
  }

  
}